@import "tailwindcss";

@theme {
  --color-primary: #4D6A99;
  --color-secondary: #0f172a;
  --color-background: #FCFCFB;
  --color-background-secondary: #F5F5F5;
  --color-foreground: #1D212B;
  --color-muted-foreground: #737882;
  --color-border: #E5E1DA;

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

* {
  cursor: none;
}

@media (max-width: 768px) {
  * {
    cursor: auto;
  }
}